html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
}

#todo-list {
  margin-bottom: 30px;
}

#todo-form {
  margin-bottom: 50px;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgb(248, 248, 248);
  color: #888;
  text-align: center;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid rgba(0,0,0,.075);
}